body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;  
}

.nav-link:link,
.nav-link:visited,
.nav-link:focus {
    color: black;
}

ul li {
    list-style-type: none;
}

#navbar {
    position: fixed;
    height: 100px;
    left: 20px;
    width: 200px;
}
