body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}

ul li {
    list-style-type: none;
}

